//- {
//-     "sets": {
//-         "markers": {
//-             "areas": {},
//-             "circles": {},
//-             "hide": false,
//-             "label": "Markers",
//-             "layerprio": 0,
//-             "lines": {},
//-             "markers": {
//-                 "_spawn_spacestation": {
//-                     "dim": "16x16",
//-                     "icon": "world",
//-                     "label": "Spawn",
//-                     "markup": false,
//-                     "x": 64.0,
//-                     "y": 64.0,
//-                     "z": -36.0
//-                 },
//-                 "marker_1": {
//-                     "dim": "16x16",
//-                     "icon": "tower",
//-                     "label": "village",
//-                     "markup": false,
//-                     "x": -266.792700839403,
//-                     "y": 69.0,
//-                     "z": 75.95255265768495
//-                 },
//-                 "marker_2": {
//-                     "dim": "16x16",
//-                     "icon": "default",
//-                     "label": "Brad's House",
//-                     "markup": false,
//-                     "x": -155.17952543023682,
//-                     "y": 63.0,
//-                     "z": -439.95541974369985
//-                 }
//-             }
//-         },
//-         "spawn_beds": {
//-             "areas": {},
//-             "circles": {},
//-             "hide": true,
//-             "label": "Spawn Beds",
//-             "layerprio": 0,
//-             "lines": {},
//-             "markers": {},
//-             "minzoom": 0
//-         }
//-     },
//-     "timestamp": 1474211675565
//- }
