nav(class="navbar navbar-dark bg-primary")
  span.navbar-brand Blocky Spaceman Minecraft
  ul(class="nav navbar-nav")
    li.nav-item(class={"active": pageName === "home"})
      a(class="nav-link", href="/") Home
    li.nav-item(class={"active": pageName === "downloads"})
      a(class="nav-link", href="/downloads") Downloads
    li.nav-item(class={"active": pageName === "map"})
      a(class="nav-link", href="/map") Map
    li.nav-item(class={"active": pageName === "map-markers"})
      a(class="nav-link", href="/markers") Map Markers
    li.nav-item(class={"active": pageName === "mod-suggestions"})
      a(class="nav-link", href="#") Mod Suggestions
