div(class={"online-status": true, "online": online, "offline": !online})
  if online
    span The server is currently online
  else 
    span The server is currently offline
    span Last online: #{onlineText}
div.players
  span Players online: #{players.now}
div.update-time
  span Last updated: #{updatedText}
div.message
  span Message of the day: 
  span #{motd}
